{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": "off",
    "semi": ["error", "never"],
    "react/jsx-filename-extension": "off",
    "global-require": "off"
  },
  "globals": {
    "document": true,
    "window": true,
    "__DEV__": true
  }
}
